@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    background-color: #29253d;
    background-image: url('../img/background.svg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poiret One', cursive;
}

.grid-container {
    background-color: #201d30;
    max-width: 75%;
    min-height: 60vh;
    margin: 10% auto 0% auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px 0px;
    border-radius: 6px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

#history-table {
    grid-column: 1 / 2;
    max-height: 60vh;
    overflow-y: scroll;
}

#history-table::-webkit-scrollbar {
    width: 0.3rem;
}
 
#history-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
}
 
#history-table::-webkit-scrollbar-thumb {
  background-color: #332e4b;
  outline: 1px solid #332e4b;
  border-radius: 20px;
}

#history-table #history-heading {
    text-align: center;
    color: #2DC5A1;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 1rem;
    opacity: 0.5;
}

#history-table, #history-intro {
    color: #5b5183;
    line-height: 1.6;
    padding: 2% 5%;
}


#history-table .history-row {
    padding: 2rem;
    color: #5b5183;
    border-bottom: 0.5px solid #332e4b;
}

#history-table .history-row div {
    display: inline-block;
    width: 50%;
    letter-spacing: 2px;
}

#history-table .history-row .row-id-container {
    width: 100%;
}

#history-table .history-row .row-id-container .row-id {
    float: right;
    color: #332e4b;
    margin-top: 0;
    margin-bottom: 1rem;
}

#history-table .history-row .row-id-container .row-id svg {
    padding-right: 0.5rem;
    margin-bottom: -2px;
}

#history-table .history-row div h4 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #7165a1;
}

#history-table .history-row div h5 {
    margin: 0.3rem 0;
}

#history-table .history-row div .row-ico {
    margin: 1rem 0 0.1rem 0;
}

#history-table .history-row div .row-ico {
    stroke: #2DC5A1;
    height: 18px;
    width: 18px;
    margin-right: 0.75rem;
    margin-bottom: -3px;
}

#history-table .history-row .history-row-time-info {
    margin-top: 1.3rem;
    width: 100%;
    text-align: center;
}

#history-table .history-row .history-row-time-info h3 {
    margin-bottom: 0.2rem;
    color: #4c4470;
}

#history-table .history-row .history-row-time-info h2 {
    margin: 0;
    color: #2DC5A1;
    font-size: 2rem;
    letter-spacing: 5px;
}

#stopwatch {
    padding: 5%;
    min-width: 20vw;
    max-width: 20vw;
    text-align: center;
    border-left: 0.5px solid #29253d;
}

#timer-container {
    margin: 1.5rem;
    padding: 2.5rem 0 2.5rem 0;
    font-weight: 100;
}

#stopwatch #hours, #mins {
    font-size: 2rem;
    color: #4c4470;
    display: inline;
    letter-spacing: 0.35rem;
    margin: 0.5rem;
}

#stopwatch #secs {
    margin: 0;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    color: #2DC5A1;
}

#stopwatch span {
    font-size: 1.5rem;
    color: #332e4b;
}

#history-table .history-row .history-row-time-info h2 span {
    font-size: 1rem;
    color: #4c4470;
}

#history-table #clear-history {
    cursor: pointer;
}

#start-stop-btn {
    min-width: 180px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    outline: inherit;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    font-family: 'Poiret One', cursive;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 800;
    transition: ease-in-out 0.5s;
}

.start-btn {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stop-btn {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.disabled {
    opacity: 0.3;
    cursor: pointer;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.long-shadow{
    color:#fff;
    text-shadow:1px 1px rgba(0,0,0,0.01),
    2px 2px rgba(0,0,0,0.03),
    3px 3px rgba(0,0,0,0.025),
    4px 4px rgba(0,0,0,0.02),
    5px 5px rgba(0,0,0,0.015),
    6px 6px rgba(0,0,0,0.01),
    7px 6px rgba(0,0,0,0.01),
    8px 8px rgba(0,0,0,0.01),
    9px 8px rgba(0,0,0,0.01),
    10px 10px rgba(0,0,0,0.01),
    11px 11px rgba(0,0,0,0.01),
    12px 12px rgba(0,0,0,0.01),
    13px 13px rgba(0,0,0,0.01),
    14px 14px rgba(0,0,0,0.01),
    15px 15px rgba(0,0,0,0.01),
    16px 16px rgba(0,0,0,0.01),
    17px 17px rgba(0,0,0,0.01),
    18px 18px rgba(0,0,0,0.01),
    19px 19px rgba(0,0,0,0.01),
    20px 20px rgba(0,0,0,0.01),
    21px 21px rgba(0,0,0,0.01),
    22px 22px rgba(0,0,0,0.01),
    23px 23px rgba(0,0,0,0.01);
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: auto;
        max-width: 90%;
    }

    #stopwatch {
        grid-row: 1;
        max-width: 100%;
        min-width: 100%;
        padding: 0 0 10vh 0;
        border-bottom: 1px solid #29253d;
        box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    }

    #history-table {
        padding-top: 10vh;
    }
}